/*.highlight pre .hll { background-color: #<%= @base["02"]["hex"] %> }
.highlight pre  { background: #<%= @base["00"]["hex"] %>; color: #<%= @base["07"]["hex"] %> }
.highlight pre .c { color: #<%= @base["03"]["hex"] %> } /* Comment */
.highlight pre .err { color: #<%= @base["08"]["hex"] %> } /* Error */
.highlight pre .k { color: #<%= @base["0E"]["hex"] %> } /* Keyword */
.highlight pre .l { color: #<%= @base["09"]["hex"] %> } /* Literal */
.highlight pre .n { color: #<%= @base["07"]["hex"] %> } /* Name */
.highlight pre .o { color: #<%= @base["0C"]["hex"] %> } /* Operator */
.highlight pre .p { color: #<%= @base["07"]["hex"] %> } /* Punctuation */
.highlight pre .cm { color: #<%= @base["03"]["hex"] %> } /* Comment.Multiline */
.highlight pre .cp { color: #<%= @base["03"]["hex"] %> } /* Comment.Preproc */
.highlight pre .c1 { color: #<%= @base["03"]["hex"] %> } /* Comment.Single */
.highlight pre .cs { color: #<%= @base["03"]["hex"] %> } /* Comment.Special */
.highlight pre .gd { color: #<%= @base["08"]["hex"] %> } /* Generic.Deleted */
.highlight pre .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gh { color: #<%= @base["07"]["hex"] %>; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #<%= @base["0B"]["hex"] %> } /* Generic.Inserted */
.highlight pre .gp { color: #<%= @base["03"]["hex"] %>; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #<%= @base["0C"]["hex"] %>; font-weight: bold } /* Generic.Subheading */
.highlight pre .kc { color: #<%= @base["0E"]["hex"] %> } /* Keyword.Constant */
.highlight pre .kd { color: #<%= @base["0E"]["hex"] %> } /* Keyword.Declaration */
.highlight pre .kn { color: #<%= @base["0C"]["hex"] %> } /* Keyword.Namespace */
.highlight pre .kp { color: #<%= @base["0E"]["hex"] %> } /* Keyword.Pseudo */
.highlight pre .kr { color: #<%= @base["0E"]["hex"] %> } /* Keyword.Reserved */
.highlight pre .kt { color: #<%= @base["0A"]["hex"] %> } /* Keyword.Type */
.highlight pre .ld { color: #<%= @base["0B"]["hex"] %> } /* Literal.Date */
.highlight pre .m { color: #<%= @base["09"]["hex"] %> } /* Literal.Number */
.highlight pre .s { color: #<%= @base["0B"]["hex"] %> } /* Literal.String */
.highlight pre .na { color: #<%= @base["0D"]["hex"] %> } /* Name.Attribute */
.highlight pre .nb { color: #<%= @base["07"]["hex"] %> } /* Name.Builtin */
.highlight pre .nc { color: #<%= @base["0A"]["hex"] %> } /* Name.Class */
.highlight pre .no { color: #<%= @base["08"]["hex"] %> } /* Name.Constant */
.highlight pre .nd { color: #<%= @base["0C"]["hex"] %> } /* Name.Decorator */
.highlight pre .ni { color: #<%= @base["07"]["hex"] %> } /* Name.Entity */
.highlight pre .ne { color: #<%= @base["08"]["hex"] %> } /* Name.Exception */
.highlight pre .nf { color: #<%= @base["0D"]["hex"] %> } /* Name.Function */
.highlight pre .nl { color: #<%= @base["07"]["hex"] %> } /* Name.Label */
.highlight pre .nn { color: #<%= @base["0A"]["hex"] %> } /* Name.Namespace */
.highlight pre .nx { color: #<%= @base["0D"]["hex"] %> } /* Name.Other */
.highlight pre .py { color: #<%= @base["07"]["hex"] %> } /* Name.Property */
.highlight pre .nt { color: #<%= @base["0C"]["hex"] %> } /* Name.Tag */
.highlight pre .nv { color: #<%= @base["08"]["hex"] %> } /* Name.Variable */
.highlight pre .ow { color: #<%= @base["0C"]["hex"] %> } /* Operator.Word */
.highlight pre .w { color: #<%= @base["07"]["hex"] %> } /* Text.Whitespace */
.highlight pre .mf { color: #<%= @base["09"]["hex"] %> } /* Literal.Number.Float */
.highlight pre .mh { color: #<%= @base["09"]["hex"] %> } /* Literal.Number.Hex */
.highlight pre .mi { color: #<%= @base["09"]["hex"] %> } /* Literal.Number.Integer */
.highlight pre .mo { color: #<%= @base["09"]["hex"] %> } /* Literal.Number.Oct */
.highlight pre .sb { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Backtick */
.highlight pre .sc { color: #<%= @base["07"]["hex"] %> } /* Literal.String.Char */
.highlight pre .sd { color: #<%= @base["03"]["hex"] %> } /* Literal.String.Doc */
.highlight pre .s2 { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Double */
.highlight pre .se { color: #<%= @base["09"]["hex"] %> } /* Literal.String.Escape */
.highlight pre .sh { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Heredoc */
.highlight pre .si { color: #<%= @base["09"]["hex"] %> } /* Literal.String.Interpol */
.highlight pre .sx { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Other */
.highlight pre .sr { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Regex */
.highlight pre .s1 { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Single */
.highlight pre .ss { color: #<%= @base["0B"]["hex"] %> } /* Literal.String.Symbol */
.highlight pre .bp { color: #<%= @base["07"]["hex"] %> } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #<%= @base["08"]["hex"] %> } /* Name.Variable.Class */
.highlight pre .vg { color: #<%= @base["08"]["hex"] %> } /* Name.Variable.Global */
.highlight pre .vi { color: #<%= @base["08"]["hex"] %> } /* Name.Variable.Instance */
.highlight pre .il { color: #<%= @base["09"]["hex"] %> } /* Literal.Number.Integer.Long */ *
